<h1>Add a New Addict</h1>

<div>
    <form action="/addicts" method="post">
      <label for="name">Name:</label>
      <input id="name" name="name" type="text">
      <br><br>
      <button type="submit">Submit</button>
    </form>
</div>
