<ul>
  <h1><strong><%= @addict.name() %></strong></h1>
  <p>Relapse Dates:</p>
  <% @addict.relapses.each do |relapse| %>
  <li><%= relapse.relapse %> </li>
<% end %>
<br>
<form action="/add_relapse" method="post">
  <input id ='addict_id' name='addict_id' type='hidden' value='<%= @addict.id() %>'>
  <input type='text' name='relapse' id='relapse' placeholder='Date'>
  <button type='submit' class='btn btn-primary'>Add New Relapse</button>
</form>

  <br><a href="/addicts">See All Teams</a>
</ul>
