<!DOCTYPE html>
<html>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li class="active"><a href="/">
<i class="glyphicon glyphicon-home xw3-spin w3-jumbo"></i>
Home <span class="sr-only">(current)</span></a></li>
    <li><a href="/addicts">
<i class="glyphicon glyphicon-user xw3-spin w3-jumbo"></i>
Patients</a></li>
    <li><a href="/addicts/new"><i class="glyphicon glyphicon-warning-sign"></i> Add a Patient</a></li>
  </ul>
</div><!-- /.navbar-collapse -->
</div>
<!DOCTYPE html>
<html>
<head>
  <title>Burritos</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/styles.css'>
</head>
<body>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</head>
<body>
</body>
</html>
